body{
    margin: 0;
    font-family: sans-serif;
}

.header{
    display: flex;
    padding: 7px;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    background-color: rgb(172, 172, 166);
}

.header .list ul{
    /* margin: 0; */
    list-style-type: none;
    display: flex;
}

.panels{
    display: flex;
    padding-left: 90px;
    /* align-items: center; */
    margin-top: 30px;
    margin: 10px;
}

.panel1{
    margin-left: 80px;
}

.panels .panel1 p{
    list-style-type: none;
}

.panel2{
    margin-left: 80px;
}

.panels .panel2 p{
    list-style-type: none;
}

.header .list {
    margin-left: 20px;
    cursor: pointer;
}

.panel3{
    margin-left: 80px;
}

.panels .panel3  p{
    list-style-type: none;
}

.header .list ul li{
    padding-left: 10px;
}

.space{     
    flex: 1;
}

.JoinUsDiv{
    background-color: rgb(117, 117, 76);
    padding: 30px;
    margin: 0;
}
.JoinUsDiv .subdiv{
    width: 50%;
    margin-top: 10px;
}

.JoinUsDiv h1{
    margin: 0;
}

.footer{
    padding: 20px;
    background-color: rgb(141, 111, 99);
    padding-left: 460px;
}

.imageDiv img{
    width: 100%;
    height: 335px;
}

.panels .panel1{
    border: 1px solid black;
    padding: 20px;
    
}
.panels .panel2{
    border: 1px solid black;
    padding: 20px;
    
}
.panels .panel3{
    border: 1px solid black; 
    padding: 20px;
}